@import "normalize";
@import "var";
// @import "fonts";
//@import "mixins";
// @import 'blocks/header';

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}
html,
body {
  height: 100%;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: var(--secondary-color);

 

  &__search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;

    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    &::placeholder {
      color: #7378c5;
    }
    &:focus {
      background-color: var(--primary-color);
    }
  }
}
.movie {
 flex: 0 1 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  &:hover{
    .overview{
      transform: translateY(0);
    }
  }
  img {
    width: 100%;
  }
}
.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
    &.green {
      color: lightgreen;
    }
    &.orange {
      color: orange;
    }
    &.red {
      color: lightred;
    }
  }
}

.overview {
  background-color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: all 0.3s ease;
}
